@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
    --primeira_cor: #0A4D68;
    --segunda_cor: #088395;
    --terceira_cor: #05BFDB;
    --quarta_cor: #00FFCA;
    --quinta_cor: #F6FFDE;

    --primeira_fonte: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
    background: linear-gradient(to right, #00081f 50%, var(--primeira_cor));
    color: var(--quarta_cor);
}

.pagina {
    display: flex;
}

.apresentacao {
    width: 60%;
    padding: 5% 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titulo__login {
    font-size: 3rem;
    font-family: var(--primeira_fonte), italic;
}

.formulario {
    padding: 1rem 3rem;
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--segunda_cor);
    border: 0.1rem solid transparent;
    border-radius: 2rem;
    opacity: 85%;
}

.campos__div {
    display: flex;
    justify-content: space-around;
    gap: 0.8rem;
}

.labelCampo__formulario {
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--primeira_fonte);
}

.campo__formulario {
    width: 18rem;
    font-size: 1.3rem;
    font-family: var(--primeira_fonte);
    color: var(--quinta_cor);
    background-color: transparent;
    text-align: center;
    border-bottom: 0.1rem solid var(--terceira_cor);
    border-radius: 1rem;
}

.campo__formulario::placeholder {
    color: var(--quinta_cor);
    font-size: 1.3rem;
}

.botoes__login {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.botao__login,
.botao__tela__login {
    padding: 0.4rem 0;
    width: 14rem;
    font-size: 1.5rem;
    font-family: var(--primeira_fonte);
    color: var(--quinta_cor);
    background-color: var(--terceira_cor);
    text-align: center;
    border: 0.1rem solid transparent;
    border-radius: 2rem;
    transition: 1.5s all;
}

.botao__login:hover,
.botao__tela__login:hover {
    color: var(--terceira_cor);
    background-color: var(--quinta_cor);
    cursor: pointer;
}

.botao__cadastro,
.botao__cadastrar {
    width: 14rem;
    padding: 0.4rem 0;
    font-size: 1.5rem;
    font-family: var(--primeira_fonte);
    color: var(--quinta_cor);
    background-color: var(--terceira_cor);
    text-align: center;
    border: 0.1rem solid transparent;
    border-radius: 1rem;
    transition: 1.5s all;
}

.botao__cadastro:hover,
.botao__cadastrar:hover {
    color: var(--terceira_cor);
    background-color: var(--quinta_cor);
    cursor: pointer;
}

.lateral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8%;
    padding-left: 5%;
    height: 100vh;
    width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.titulo__login__lateral {
    font-size: 3rem;
    font-family: var(--primeira_fonte);
    font-style: italic;
    font-weight: 900;
    background-image: linear-gradient(to right, var(--quarta_cor), var(--segunda_cor) 90%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

}

.rodape{
    display: flex;
    justify-content: center;
    font-family: var(--primeira_fonte);
}